APP_PORT=3000
SMSBOWER_API_KEY=your_smsbower_api_key
SMSBOWER_API_BASE_URL=https://smsbower.page/stubs/handler_api.php
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
ADMIN_TOKEN=change-this-admin-token
SMSBOWER_WEBHOOK_SECRET=change-this-webhook-secret
SMSBOWER_WEBHOOK_ALLOWED_IPS=167.235.198.205
